* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}

@media only screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  .header_img {
    position: relative;
    width: 320px;
    height: 540px;
    background-image: url(../img/main_mobile.png);
  }

  .header_btn {
    position: absolute;
    display: flex;
    justify-content: space-around;
    height: 37px;
    width: 176px;
    left: 20%;
    bottom: 70%;
    margin-bottom: 115px;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .header_btn a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
  }

  .btn_log {
    display: block;
    padding: 7px 15px;
    width: 90px;
    background: transparent;
    border: transparent;
  }

  .btn_log:hover {
    display: block;
    border: 2px solid white;
    border-radius: 50px;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transform: translate(0);
  }

  .btn_sign {
    display: block;
    padding: 7px 15px;
    width: 90px;
    background: transparent;
    border: transparent;
  }

  .btn_sign:hover {
    display: block;
    border: 2px solid white;
    border-radius: 50px;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transform: translate(0);
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 30%;
    left: 4%;
    height: 245px;
    width: 290px;
  }

  .main_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  .sub_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  .text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
  }

  .btn_find {
    display: block;
    position: absolute;
    top: 95%;
    left: 4%;
    width: 270px;
    background: transparent;
    border: none;
    padding: 10px 50px;
  }

  .btn_find:hover {
    background: rgb(255, 78, 80);
    border-radius: 50px;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transform: translate(0);
  }

  .btn_find a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: white;
  }

  .list_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 21px;
    font-weight: 25px;
    width: 260px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 17px;
  }

  .partner_list {
    list-style-type: none;
  }

  .item_img {
    display: block;
    height: 125px;
    margin-bottom: 20px;
  }

  .item_img img {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 150px;
  }

  .icon {
    position: relative;
    left: 58%;
    bottom: 35px;
    width: 40px;
  }

  .icon_1 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 78, 80);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
  }

  .icon_1::before {
    content: "";
    background-image: url(../img/tv.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    left: 25%;
    top: 20%;
  }

  .icon_2 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 165, 7);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
  }

  .icon_2::before {
    content: "";
    background-image: url(../img/bottle.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    left: 30%;
    top: 25%;
  }

  .icon_3 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(28, 215, 173);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
  }

  .icon_3::before {
    content: "";
    background-image: url(../img/cup.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    left: 25%;
    top: 20%;
  }

  .icon_4 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(78, 115, 219);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
  }

  .icon_4::before {
    content: "";
    background-image: url(../img/plane.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    left: 25%;
    top: 30%;
  }

  .item_name {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: black;
    margin-bottom: 17px;
  }

  .item_text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgb(102, 102, 102);
    margin-bottom: 25px;
  }

  .btn_other {
    display: block;
    margin: 0 auto;
    width: 270px;
    background: transparent;
    border: none;
    padding: 10px 50px;
    margin-bottom: 55px;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transform: translate(0);
    border: transparent;
    background: transparent;
  }

  .btn_other a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 78, 80);
  }

  .btn_other:hover {
    display: block;
    border: 2px solid rgb(255, 78, 80);
    border-radius: 50px;
  }
}
